* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
body {
  background: dodgerblue;
}
.main svg {
  padding: 10px;
  border-radius: 8px;
  background: blue;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
.main {
  background: #fff;
  padding: 40px 20px;
  border-radius: 8px;
  width: 500px;
  position: fixed;
  top: 30%;
  left: 32%;
  right: 50%;
}
.main input {
  width: 350px;
  padding: 10px;
  outline: none;
  border: 2px solid dodgerblue;
  border-radius: 4px;
}
.main button {
  margin-left: 30px;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  background: dodgerblue;
  color: #fff;
  font-size: 16px;
  border-style: none;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: rgb(157, 197, 237);
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid gray;
}
.list p {
  font-weight: 500;
  font-size: 16px;
  width: 200px;
}
form {
  margin-bottom: 50px;
}
.hide {
  display: none;
}
